a {
  color: black;
  text-decoration: none;
}

/*
##############################

Layout page

##############################
*/
body {
  margin: 10px 0;
}

header {
  /*position: fixed;*/
  top: 5px;
  left: 0px;
  height: 24px;
  width: 100%;
  background-color: white;
  }

nav {
  height: 90%;
  width: 90%;
  margin: auto;
  /*float: right;*/
  background-color: rgb(255, 102, 0);
  }

nav ul {
  height: 100%;
  margin: 0;
  padding: 0;
  }


nav ul li {
  position: relative;
  float: left;
  list-style-type: none;
  /*margin: 5px 0;*/
  padding: 0 5px;
  height: 30px;
  max-width: 150px;
  /*text-align: center;*/
  line-height: 25px;
  }

nav ul li a {
  text-decoration: none;
  color: black;
}

nav ul li img {
  max-height: 20px;
}

#left_nav {
  width: 50%;
  display: inline;
  float: left;
}

#right_nav {
  width: 15%;
  display: inline;
  float: right;
  text-align: right;
}



/*body {
  width: 90%;
}*/


footer {
  border-top: solid rgb(255, 102, 0) 2px;
  height: 100px;
  width: 90%;
  margin: 0 5%;
  background-color: rgb(246, 246, 239);
}

/*
##############################
Auth Views
##############################
*/

h2 {
  margin: 20px auto;
  text-align: center;

}

#login_wrapper li button a {
    color: yellow;
    text-decoration: none;
}

#login_wrapper {
  display: block;
  text-align: center;
}

#login_wrapper li {
  list-style: none;
}

#login_wrapper button {
  background-color: black;
  color: yellow;
}

/*##############################
Index Page
##############################*/

.container {
  margin: 5%;
}

ul .columns {
  margin: auto;
  padding: 0 2%;
}

.columns li {
  display: inline-block;
  list-style: none;
  width: 30%;
  text-align: center;
}