<ul class="columns">
  <li>

    <h4>Submit A Question</h4>

    <p>Before you can take a test, you have to contribute at least one question to that test.</p>

    <button>Create A Question</button>

  </li>
  <li>

    <h4>Take A Test</h4>

    <p>Once you have submitted a question, test your knowledge!</p>

    <button>Take Test</button>
  </li>
  <li>

    <h4>View Profile</h4>

    <p>Review questions you have submitted and tests you have taken.</p>

    <button>View Profile</button>
  </li>
</ul>